.wrapper {
  display: grid;
  grid-template-rows: 50px 300px 150px;
  grid-template-columns: 2fr 5fr;
  grid-template-areas: "header header"
                      "sidebar content"
                      "footer footer";
}

header {
  background-color: yellow;
  grid-area: header;
  /*grid-row: 1/2;
  grid-column: 1/3;*/
}

main {
  background-color: blue;
  grid-area: content;
  /*grid-row: 2/3;
  grid-column: 2/3;*/
}

aside {
  background-color: green;
  grid-area: sidebar;
  /*grid-row: 2/3;
  grid-column: 1/2;*/
}

footer {
  background-color: red;
  grid-area: footer;
  /*grid-row: 3/4;
  grid-column: 1/3;*/
}
