.wrapper {
display: grid;
grid-template-rows: 50px 100px 150px;
grid-template-columns: 1fr 1fr 1fr 2fr;
grid-template-areas: "header header header header "
                     "content1 content1 content1 sidebar"
                     "content2 content3 content4 sidebar";


grid-gap: 10px;
}

header {
  grid-area:header;
  background-color: yellow;

}

 main {
  grid-area:content1;
  background-color: green;

}

 .C {
grid-area:content2;
background-color: aqua;

}

.D {
grid-area:content3;
background-color: magenta;


}
.E {
grid-area:content4;
background-color: gold;

}
footer {
  grid-area:sidebar;
  background-color: pink;

}

@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-rows: 100px 400px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "content1 content1 content1"
                         "content2 content3 content4"
                         "sidebar sidebar sidebar";
   grid-gap:10px;
  }
}

/*
break points

https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile
*/
