.wrapper {

}

header {
  background-color: yellow;
}

main {
  background-color: green;
}

aside {
  background-color: pink;
}

@media screen and (max-width: 480px) {
  .wrapper {

  }
}

/*
break points

https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile
*/
