.wrapper {
}

.item1 {
  background-color: yellow;
}

.item2 {
  background-color: yellow;
}

.item3 {
  background-color: yellow;
}

.item4 {
  background-color: yellow;
}

.item5 {
  background-color: yellow;
}

.item6 {
  background-color: yellow;
}

.item7 {
  background-color: yellow;
}

.item8 {
  background-color: yellow;
}

.item9 {
  background-color: yellow;
}

.item10 {
  background-color: yellow;
}

.item11 {
  background-color: yellow;
}

.item12 {
  background-color: yellow;
}

.item13 {
  background-color: greenyellow;
}

.item14 {
  background-color: greenyellow;
}

.item15 {
  background-color: greenyellow;
}

.item16 {
  background-color: greenyellow;
}

.item17 {
  background-color: greenyellow;
}

.item18 {
  background-color: greenyellow;
}

.item19 {
  background-color: lightgreen;
}

.item20 {
  background-color: lightgreen;
}

.item21 {
  background-color: lightgreen;
}

.item22 {
  background-color: lightgreen;
}

.item23 {
  background-color: lightseagreen;
}

.item24 {
  background-color: lightseagreen;
}

.item25 {
  background-color: lightseagreen;
}

.item26 {
  background-color: darkorchid;
}

.item27 {
  background-color: darkorchid;
}

.item28 {
  background-color: fuchsia;
}
